@import url('./definition.css');
/* #section-product */
#section-product .nav-item button:hover
{
    background-color: black;
    color: white;
}
/* #section-service  */
#section-service .accordion-item button:hover
{
    background-color: white;
    color: black;
}
#section-service .accordion-button:hover::after
{
    background-image: var(--accordion-button-icon-hover);
}
#section-service .accordion-button:hover:not(.collapsed)::after
{
    background-image: var(--accordion-button-active-icon-hover);
}
#section-service .container .d-flex div button:hover
{
    font-size: 1.6rem !important;
    /* box-shadow: 0px 0px 10px white ; */
} 
/* #SelfEmai */
#SelfEmail i:hover
{
    box-shadow: 0px 0px 10px white;
    color: yellow;
}
/* #selector */
#selector .nav-item:hover , .navbar-brand:hover
{
    background-color: white;
    box-shadow: -2px -2px 3px black;
}
/* #suggest */
#section-recommend .container .row a img:hover {
    background-color: #fccf03;
}
nav div button.navbar-toggler:hover{
    box-shadow: -1px -1px 10px black;
}